@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #222222;

  --background: #ffffff;
  --foreground: #222222;
}

.dark {
  --background: #222222;
  --foreground: #ffffff;
}
